{% extends "bootstrap/base.html" %}
{% block title %}LSJAdvisor{% endblock %}
{% block navbar %}
    <div class="navbar navbar-inverse" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand">LSJAdvisor</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="{{ url_for('index') }}">Home</a></li>
                    <li><a href="{{ url_for('contacts') }}">Contacts</a></li>
                    {% if current_user.is_authenticated %}
                        <li><a href="{{ url_for('logout') }}">Logout</a></li>
                        <li><a href="{{ url_for('user') }}">
                            {{ current_user.first_name }} {{ current_user.last_name }}</a></li>
                        <li><a href="{{ url_for('messages') }}">Messages</a></li>
                    {% else %}
                        <li><a href="{{ url_for('login') }}">Login</a></li>
                        <li><a href="{{ url_for('register') }}">Register</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="container">
            {% for category, message in get_flashed_messages(True) %}
                <div class="alert alert-{{ category }}">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    {{ message }}
                </div>
            {% endfor %}
        </div>
        <div class="container">
            {% block myContent %}{% endblock %}
        </div>
    </div>
    <footer>
        <hr>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <a href="{{ url_for('contacts') }}">Contacts</a>
                </div>
            </div>
        </div>
    </footer>
{% endblock %}
{% block styles %}
    {{ super() }}
    <link rel="stylesheet" type="text/css" href="/static/main.css">
{% endblock %}