{% extends "base.html" %}
{% block title %}Contacts{% endblock %}
{% block myContent %}
    <div class="page-header">
        <h1 style="font-family: Verdana, SansSerif">Contacts</h1>
    </div>
    <div>
        <h3 style="font-family: Verdana, SansSerif">Aurelio Palacardo</h3>
        <p class="email">s249520@studenti.polito.it</p>
    </div>
    <div>
        <h3 style="font-family: Verdana, SansSerif">Fabrizio Ciancimino</h3>
        <p class="email">s253086@studenti.polito.it</p>
    </div>
    <div>
        <h3 style="font-family: Verdana, SansSerif">Francesco Silvestri</h3>
        <p class="email">s251092@studenti.polito.it</p>
    </div>
    <div>
        <h3 style="font-family: Verdana, SansSerif">Laura Ciaccio</h3>
        <p class="email">s250417@studenti.polito.it</p>
    </div>
    <div>
        <h3 style="font-family: Verdana, SansSerif">Rebecca Pelacà</h3>
        <p class="email">s218118@studenti.polito.it</p>
    </div>
    <div>
        <h3 style="font-family: Verdana, SansSerif">Valerio Vallone</h3>
        <p class="email">s250931@studenti.polito.it</p>
    </div>
{% endblock %}