{% extends "base.html" %}
{% block title %}Contacts{% endblock %}
{% block myContent %}
    <div class="page-header">
        <h1>Contacts</h1>
    </div>
    <div>
        <h3>Aurelio Palacardo</h3>
        <p>s249520@studenti.polito.it</p>
    </div>
    <div>
        <h3>Fabrizio Ciancimino</h3>
        <p>s253086@studenti.polito.it</p>
    </div>
    <div>
        <h3>Francesco Silvestri</h3>
        <p>s251092@studenti.polito.it</p>
    </div>
    <div>
        <h3>Laura Ciaccio</h3>
        <p>s250417@studenti.polito.it</p>
    </div>
    <div>
        <h3>Rebecca Pelacà</h3>
        <p>s218118@studenti.polito.it</p>
    </div>
    <div>
        <h3>Valerio Vallone</h3>
        <p>s250931@studenti.polito.it</p>
    </div>
{% endblock %}