{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block myContent %}
    <div class="page-header">
        <h2 style="font-family: Verdana, SansSerif">Edit ad</h2>
    </div>
    {{ wtf.quick_form(form) }}
    <br>
    <ul class="posts">
        <li class="post">
            <div class="post-author">
                <a href="{{ url_for('user') }}">{{ current_user.first_name }} {{ current_user.last_name }}</a>
            </div>
            <div class="post-date">
                {{ ad.created_at | datetimeformat('%B %d, %Y %I:%M:%S %Z')}}
            </div>
            <div class="post-title">
                <h4 style="font-family: Verdana, SansSerif">Title: </h4>
                <p style="padding-left: 10px">{{ ad.title }}</p>
            </div>
            <div class="post-category">
                <h4 style="font-family: Verdana, SansSerif">Category: </h4>
                <p style="padding-left: 10px">{{ ad.category }}</p>
            </div>
            <div class="post-body">
                <h4 style="font-family: Verdana, SansSerif">Description: </h4>
                <p style="padding-left: 10px">{{ ad.body }}</p>
            </div>
            <div class="post-zone">
                <h4 style="font-family: Verdana, SansSerif">Zone: </h4>
                <p style="padding-left: 10px">{{ ad.zone }}</p>
            </div>
        </li>
    </ul>
{% endblock %}