{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block myContent %}
    <div class="page-header">
        <h1 style="font-family: Verdana, SansSerif">LSJAdvisor</h1>
        <h4 style="font-family: Verdana, SansSerif">Choose if you would to need or to offer some help, specify a zone and look for ads near you</h4>
    </div>
    {{ wtf.quick_form(form) }}
    <br>
    <ul class="posts">
        {% for ad in ads %}
            <li class="post">
                <div class="post-author">
                    <a href="{{ url_for('other_user', id=ad.get_author_id()) }}">{{ ad.get_first_name() }} {{ ad.get_last_name() }}</a>
                </div>
                <div class="post-date">
                    {{ ad.created_at | datetimeformat('%B %d, %Y %I:%M:%S %Z')}}
                </div>
                <div class="post-title">
                    <h4 style="font-family: Verdana, SansSerif">Title: </h4>
                    <p style="padding-left: 10px">{{ ad.title }}</p>
                </div>
                <div class="post-category">
                    <h4 style="font-family: Verdana, SansSerif">Category: </h4>
                    <p style="padding-left: 10px">{{ ad.category }}</p>
                </div>
                <div class="post-body">
                    <h4 style="font-family: Verdana, SansSerif">Description: </h4>
                    <p style="padding-left: 10px">{{ ad.body }}</p>
                </div>
                <div class="post-zone">
                    <h4 style="font-family: Verdana, SansSerif">Zone: </h4>
                    <p style="padding-left: 10px">{{ ad.zone }}</p>
                </div>
                <div class="post-footer">
                    {% if current_user != ad.author %}
                        <a href="{{ url_for('writeMessage', id=ad.get_author_id(), ad_id=ad.id) }}">
                            <span class="label label-info">Contact</span>
                        </a>
                    {% endif %}
                </div>
            </li>
            <br>
        {% endfor %}
    </ul>
    <div>
        <h4 style="font-family: Verdana, SansSerif">If you don't find what you want, write a new ad</h4>
        <a class="btn btn-default" href="{{ url_for('writeAd') }}">Write</a>
    </div>
{% endblock %}