{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block title %}
    Homepage
{% endblock %}
{% block myContent %}
    <div class="jumbotron">
        <h1>The market place for your time</h1>
        <br>
        <p>LSJAdvisor aims at creating a contact between links people who need help with low skilled jobs and those who are looking for an occasionally job.</p>
    </div>
    <div>
        <img src="/static/img/im2.jpg" alt="immagine1" style="float:left;margin-left: 50px;margin-right: 150px;">
        <p style="padding-top: 30px;font-size: large">Looking for someone to help you with housework jobs you can't be bothered by?</p>
    </div>
    <div>
        <img src="/static/img/im1.jpg" alt="immagine2" style="float:right;margin-left: 50px;margin-right: 150px;margin-top:20px">
        <p style="margin-left:60px;margin-top:300px;padding-top: 30px;font-size: large">Looking for work but not so skilled?</p>
    </div>
{% endblock %}