{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block title %}
    Homepage
{% endblock %}
{% block myContent %}
    <div class="jumbotron">
        <h1 style="font-family: Verdana,sans-serif">The market place for your time</h1>
        <br>
        <p style="font-family: Verdana,sans-serif">
            LSJAdvisor aims at creating a contact between links people
            who need help with low skilled jobs and those who are looking for an occasionally job.
        </p>
    </div>
    <div>
        <img src="/static/img/im1.jpg" alt="" style="float:left;margin-left: 50px;margin-right: 150px;">
        <p style="font-family: Verdana,sans-serif; padding-right:100px; font-size: large">
            Looking for someone to help you with housework jobs you can't be bothered by?
            Looking for work but not so skilled?
        </p>
    </div>
    <div>
        <img src="/static/img/im7.jpg" alt="" style="float:right;margin-left: 50px;margin-right: 150px;margin-top:5px">
        <p style="font-family: Verdana,sans-serif;
        margin-left:120px;margin-top:250px;padding-top: 60px;font-size: large">
            Register or login on the website.
            Search for someone who helps you or for someone who needs you.
            If you don't find, write a new ad to offer or to
            ask for help.
        </p>
    </div>
        <div>
        <img src="/static/img/im5.jpg" alt="" style="float:left;margin-left: 50px;margin-right: 150px;margin-top:5px">
        <p style="font-family: Verdana,sans-serif;
        margin-top:200px;padding-top: 30px; padding-right:100px; font-size: large">
            If you find an ad suitable for you, contact the author and decide with him times and places.
            After completing the job, the author marks the ad as done and payed,
            and the addressee can write a rating about.
        </p>
    </div>
{% endblock %}