{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block title %}
    Homepage
{% endblock %}
{% block myContent %}
    <div class="jumbotron cover">
        <div class="container">
            <div class="page-header">
                <h1>The market place for your time</h1>
                <p>LSJAdvisor aims at creating a contact between links people who need help with low skilled jobs and those who are looking for an occasionally job.</p>
            </div>
            <div>
        </div>
    </div>
        <p>Looking for someone to help you with housework jobs you can't be bothered by?</p>
    </div>
    <div>
        <p>Looking for work but not so skilled?</p>
    </div>
{% endblock %}