{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block myContent %}
    <div class="page-header">
        <h1>Messages</h1>
    </div>
    <br>
    <h3>Received messages</h3>
    {% if size_msg_received==0 %}
        <h4>No message received</h4>
    {% endif %}
    <ul class="posts">
        {% for msg in received %}
            {% if msg.read==False %}
                <li class="noread">
                    <div class="post-author">
                        <a href="{{ url_for('other_user', id=msg.sender_id) }}">{{ msg.sender.first_name }} {{ msg.sender.last_name }}</a>
                    </div>
                    <div class="post-date">
                        {{ msg.created_at | datetimeformat('%B %d, %Y %I:%M:%S %Z')}}
                    </div>
                    <div class="post-title">
                        <h4>Object: </h4> {{ msg.object }}
                    </div>
                    <div class="post-body">
                        <h4>Message: </h4> {{ msg.body }}
                    </div>
                    <div class="post-footer">
                        <a href="{{ url_for('checkRead', id=msg.id) }}">
                            <span class="label label-info">Check</span>
                        </a>
                    </div>
                </li>
            {% endif %}
            {% if msg.read==True %}
                <li class="post">
                    <div class="post-author">
                        <a href="{{ url_for('other_user', id=msg.sender_id) }}">{{ msg.sender.first_name }} {{ msg.sender.last_name }}</a>
                    </div>
                    <div class="post-date">
                        {{ msg.created_at | datetimeformat('%B %d, %Y %I:%M:%S %Z')}}
                    </div>
                    <div class="post-title">
                        <h4>Object: </h4> {{ msg.object }}
                    </div>
                    <div class="post-body">
                        <h4>Message: </h4> {{ msg.body }}
                    </div>
                </li>
            {% endif %}
        {% endfor %}
    </ul>
    <br>
    <h3>Sent messages</h3>
        {% if size_msg_sent==0 %}
        <h4>No message sent</h4>
    {% endif %}
    <ul class="post">
        {% for msg in sent %}
            <li class="post">
                <div class="post-author">
                    <a href="{{ url_for('other_user', id=msg.sender_id) }}">{{ msg.sender.first_name }} {{ msg.sender.last_name }}</a>
                </div>
                <div class="post-date">
                    {{ msg.created_at | datetimeformat('%B %d, %Y %I:%M:%S %Z')}}
                </div>
                <div class="post-title">
                    <h4>Object: </h4> {{ msg.object }}
                </div>
                <div class="post-body">
                    <h4>Message: </h4> {{ msg.body }}
                </div>
            </li>
        {% endfor %}
    </ul>
{% endblock %}