{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block myContent %}
    <div class="page-header">
        <h1>Messages</h1>
    </div>
    <br>
    <h3>Received messages</h3>
    {% if size_msg_received==0 %}
        <h4>No message received</h4>
    {% endif %}
    <ul class="messages">
        {% for msg in received %}
            {% if msg.read==False %}
                <li class="messageNoRead">
                    <div class="message-author">
                        <a href="{{ url_for('other_user', id=msg.sender_id) }}">{{ msg.sender.first_name }} {{ msg.sender.last_name }}</a>
                    </div>
                    <div class="message-date">
                        {{ msg.created_at | datetimeformat('%B %d, %Y %I:%M:%S %Z')}}
                    </div>
                    <div class="message-title">
                        <h4>Object: </h4> {{ msg.object }}
                    </div>
                    <div class="message-body">
                        <h4>Message: </h4> {{ msg.body }}
                    </div>
                    <div class="message-footer">
                        <a href="{{ url_for('markAsRead', id=msg.id) }}">
                            <span class="label label-info">Mark as read</span>
                        </a>
                        <a href="{{ url_for('deleteMessage', id=msg.id) }}">
                            <span class="label label-danger">Delete</span>
                        </a>
                    </div>
                </li>
            {% endif %}
            {% if msg.read==True %}
                <li class="messageRead">
                    <div class="message-author">
                        <a href="{{ url_for('other_user', id=msg.sender_id) }}">{{ msg.sender.first_name }} {{ msg.sender.last_name }}</a>
                    </div>
                    <div class="message-date">
                        {{ msg.created_at | datetimeformat('%B %d, %Y %I:%M:%S %Z')}}
                    </div>
                    <div class="message-title">
                        <h4>Object: </h4> {{ msg.object }}
                    </div>
                    <div class="message-body">
                        <h4>Message: </h4> {{ msg.body }}
                    </div>
                    <div class="message-footer">
                        <a href="{{ url_for('writeMessage', id=msg.sender_id, ad_id=msg.ad_id) }}">
                            <span class="label label-primary">Reply</span>
                        </a>
                        <a href="{{ url_for('deleteMessage', id=msg.id) }}">
                            <span class="label label-danger">Delete</span>
                        </a>
                        {% if msg.ad.confirmed==False %}
                            {% if current_user.id==msg.ad.author_id %}
                                <a href="{{ url_for('confirm', ad_id=msg.ad_id, other_id=msg.sender_id) }}">
                                    <span class="label label-info">Confirm</span>
                                </a>
                            {% endif %}
                        {% endif %}
                    </div>
                </li>
            {% endif %}
        {% endfor %}
    </ul>
    <br>
    <h3>Sent messages</h3>
        {% if size_msg_sent==0 %}
        <h4>No message sent</h4>
    {% endif %}
    <ul class="messages">
        {% for msg in sent %}
            <li class="messageRead">
                <div class="message-author">
                    <a href="{{ url_for('other_user', id=msg.sender_id) }}">{{ msg.sender.first_name }} {{ msg.sender.last_name }}</a>
                </div>
                <div class="message-date">
                    {{ msg.created_at | datetimeformat('%B %d, %Y %I:%M:%S %Z')}}
                </div>
                <div class="message-title">
                    <h4>Object: </h4> {{ msg.object }}
                </div>
                <div class="message-body">
                    <h4>Message: </h4> {{ msg.body }}
                </div>
            </li>
        {% endfor %}
    </ul>
{% endblock %}