{% extends "base.html" %}
{% block title %}{{ author_ads.email }}{% endblock %}
{% block myContent %}
    <div class="page-header">
        <h1 style="font-family: Verdana, SansSerif">{{ author_ads.first_name }} {{ author_ads.last_name }}</h1>
        <h5 style="font-family: Verdana, SansSerif">{{ author_ads.email }}</h5>
    </div>
    <div>
        {% if current_user == author_ads %}
            <a class="btn btn-default" href="{{ url_for('writeAd') }}">Write</a>
            <a class="btn btn-default" href="{{ url_for('findAd') }}">Find</a>
        {% endif %}
    </div>
    <br>
    {% if size>0 %}
        <h4 style="font-family: Verdana, SansSerif">Ads:</h4>
    {% endif %}
    <ul class="posts">
        {% for ad in ads %}
            <li class="post">
                <div class="post-author">
                    <a href="{{ url_for('other_user', id=author_ads.id) }}">{{ author_ads.first_name }} {{ author_ads.last_name }}</a>
                </div>
                <div class="post-date">
                    {{ ad.created_at | datetimeformat('%B %d, %Y %I:%M:%S %Z')}}
                </div>
                <div class="post-title">
                    <h4 style="font-family: Verdana, SansSerif">Title: </h4> {{ ad.title }}
                </div>
                <div class="post-category">
                    <h4 style="font-family: Verdana, SansSerif">Category: </h4>{{ ad.category }}
                </div>
                <div class="post-body">
                    <h4 style="font-family: Verdana, SansSerif">Description: </h4>{{ ad.body }}
                </div>
                <div class="post-zone">
                    <h4 style="font-family: Verdana, SansSerif">Zone: </h4>{{ ad.zone }}
                </div>
                <div class="post-footer">
                    {% if current_user == author_ads %}
                        <a href="{{ url_for('editAd', id=ad.id) }}">
                            <span class="label label-primary">Edit</span>
                        </a>
                        <a href="{{ url_for('deleteAd', id=ad.id) }}">
                            <span class="label label-danger">Delete</span>
                        </a>
                    {% endif %}
                </div>
            </li>
        {% endfor %}
    </ul>
{% endblock %}