{% extends "base.html" %}
{% block title %}{{ author_ads.email }}{% endblock %}
{% block myContent %}
    <div class="page-header">
        <img  class="circolare" src="/static/{{ author_ads.id }}" alt="" height="150" width="150">
        <h1 style="font-family: Verdana,sans-serif">{{ author_ads.first_name }} {{ author_ads.last_name }}</h1>
        <h5 style="font-family: Verdana,sans-serif">{{ author_ads.email }}</h5>
        <br>
        {% if size_ratings>0 %}
            <br>
            <h4 style="font-family: Verdana,sans-serif">Average rating: {{ average_votes }}</h4>
            <a href="{{ url_for('seeRatings', id=author_ads.id) }}">See all ratings</a>
        {% endif %}
    </div>
    <br>
    {% if size>0 %}
        <h4 style="font-family: Verdana,sans-serif">Ads:</h4>
    {% endif %}
    <ul class="posts">
        {% for ad in ads %}
            <li class="post">
                <div class="post-author">
                    <a href="{{ url_for('other_user', id=author_ads.id) }}">
                        {{ author_ads.first_name }} {{ author_ads.last_name }}</a>
                </div>
                <div class="post-date">
                    {{ ad.created_at | datetimeformat('%B %d, %Y')}}
                </div>
                <div class="post-title">
                    <h4 style="font-family: Verdana,sans-serif">Title: </h4>
                    <p style="padding-left: 10px">{{ ad.title }}</p>
                </div>
                <div class="post-category">
                    <h4 style="font-family: Verdana,sans-serif">Category: </h4>
                    <p style="padding-left: 10px">{{ ad.category }}</p>
                </div>
                <div class="post-body">
                    <h4 style="font-family: Verdana,sans-serif">Description: </h4>
                    <p style="padding-left: 10px">{{ ad.body }}</p>
                </div>
                <div class="post-zone">
                    <h4 style="font-family: Verdana,sans-serif">Zone: </h4>
                    <p style="padding-left: 10px">{{ ad.zone }}</p>
                </div>
                <div class="post-footer">
                    {% if current_user == author_ads %}
                        <a href="{{ url_for('editAd', id=ad.id) }}">
                            <span class="label label-primary">Edit</span>
                        </a>
                        <a href="{{ url_for('deleteAd', id=ad.id) }}">
                            <span class="label label-danger">Delete</span>
                        </a>
                    {% endif %}
                </div>
            </li>
        {% endfor %}
    </ul>
{% endblock %}