{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block title %}File Uploader{% endblock %}
{% block myContent %}
    <div class="page-header">
        <h1 style="font-family: Verdana, SansSerif">File Uploader</h1>
    </div>
     <form id="upload-form" action="{{ url_for('upload_image', email=current_user.email) }}" method="POST" enctype="multipart/form-data">
        <input type="file" name="file" accept="image/*">
        <input type="submit" value="Ok">
    </form>
{% endblock %}
