{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block myContent %}
    <div class="page-header">
        <h1 style="font-family: Verdana, SansSerif">LSJAdvisor</h1>
        <h4 style="font-family: Verdana, SansSerif">Choose if you would to need or to offer some help, insert a description about, specify a zone and add the post</h4>
    </div>
    {{ wtf.quick_form(form) }}
    <br>
    <ul class="posts">
        {% for ad in ads %}
            <li class="post">
                <div class="post-author">
                    <a href="{{ url_for('other_user', id=ad.get_author_id()) }}">{{ ad.get_first_name() }} {{ ad.get_last_name() }}</a>
                </div>
                <div class="post-date">
                    {{ ad.created_at | datetimeformat('%B %d, %Y %I:%M:%S %Z')}}
                </div>
                <div class="post-title">
                    <h4 style="font-family: Verdana, SansSerif">Title: </h4> {{ ad.title }}
                </div>
                <div class="post-category">
                    <h4 style="font-family: Verdana, SansSerif">Category: </h4>{{ ad.category }}
                </div>
                <div class="post-body">
                    <h4 style="font-family: Verdana, SansSerif">Description: </h4>{{ ad.body }}
                </div>
                <div class="post-zone">
                    <h4 style="font-family: Verdana, SansSerif">Zone: </h4>{{ ad.zone }}
                </div>
            </li>
        {% endfor %}
    </ul>
{% endblock %}