ul.posts {
    padding: 0px;
    margin: 16px 0px 0px 0px;
    border-top: 1px solid #e0e0e0;
}

ul.posts li.post {
    padding: 8px;
    border-bottom: 1px solid #e0e0e0;
}

ul.posts li.post:hover {
    background-color: #f0f0f0;
}

div.post-date {
    float: right;
}
div.post-author {
    font-weight: bold;
}

div.post-footer {
    text-align: right;
}

ul.messages {
    padding: 0px;
    margin: 16px 0px 0px 0px;
    border-top: 1px solid #e0e0e0;
}

ul.messages li.messageRead {
    padding: 8px;
    border-bottom: 1px solid #e0e0e0;
}

ul.messages li.messageNoRead {
    padding: 8px;
    border-bottom: 1px solid #f0f0f0;
    background-color: #f0f0f0;
}

ul.messages li.message:hover {
    background-color: #f0f0f0;
}

div.message-date {
    float: right;
}
div.message-author {
    font-weight: bold;
}

div.message-footer {
    text-align: right;
}

h5 {
    font-style: italic;
}

.email {
    font-style: italic;
}