ul.posts {
    font-family: Verdana, SansSerif;
    padding: 0px;
    margin: 16px 0px 0px 0px;
    border-top: 1px solid #e0e0e0;
}

ul.posts li.post {
    font-family: Verdana, SansSerif;
    padding: 8px;
    border-bottom: 1px solid #e0e0e0;
}

ul.posts li.post:hover {
    font-family: Verdana, SansSerif;
    background-color: #f0f0f0;
}

div.post-date {
    font-family: Verdana, SansSerif;
    float: right;
}
div.post-author {
    font-family: Verdana, SansSerif;
    font-weight: bold;
}

div.post-footer {
    font-family: Verdana, SansSerif;
    text-align: right;
}

ul.messages {
    font-family: Verdana, SansSerif;
    padding: 0px;
    margin: 16px 0px 0px 0px;
    border-top: 1px solid #e0e0e0;
}

ul.messages li.messageRead {
    font-family: Verdana, SansSerif;
    padding: 8px;
    border-bottom: 1px solid #e0e0e0;
}

ul.messages li.messageNoRead {
    font-family: Verdana, SansSerif;
    padding: 8px;
    border-bottom: 1px solid #f0f0f0;
    background-color: #f0f0f0;
}

ul.messages li.message:hover {
    font-family: Verdana, SansSerif;
    background-color: #f0f0f0;
}

div.message-date {
    font-family: Verdana, SansSerif;
    float: right;
}
div.message-author {
    font-family: Verdana, SansSerif;
    font-weight: bold;
}

div.message-footer {
    font-family: Verdana, SansSerif;
    text-align: right;
}

h5 {
    font-family: Verdana, SansSerif;
    font-style: italic;
}

h6 {
    font-family: Verdana, SansSerif;
    color: red;
    text-align: center;
}

.email {
    font-family: Verdana, SansSerif;
    font-style: italic;
}

div.footer {
    font-family: Verdana, SansSerif;
    float: right;
}

.jumbotron {
    font-family: Verdana, SansSerif;
    width: 100%;
    height: 300px;
    background-image: url('/img/sfondo.jpg');
    background-repeat: no-repeat;
    background-size:cover;
    background-position:center;
    position: relative;
}